// you can change colors here
$vp-font: '"TorusPro", "Noto Sans SC", system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif';
$vp-font-heading: '"TorusPro", "Noto Sans SC", system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif';
$font-weight-heading: 600 !default;
$vp-font-mono: '"Cascadia Code", consolas, monaco, "Andale Mono", "Ubuntu Mono", monospace';
$code-font-family: '"Cascadia Code", consolas, monaco, "Andale Mono", "Ubuntu Mono", monospace';


.theme-container.lang-ja div#markdown-content {
  font-family: "TorusPro", "Noto Sans JP", "Noto Sans SC", sans-serif;
  // --vp-font-heading: "TorusPro", "Noto Sans JP", "Noto Sans SC", sans-serif;
}

div.code-block-title-bar span{
  font-family: "Cascadia Code", consolas, monaco, "Andale Mono", "Ubuntu Mono", monospace !important;
}

.vp-code-tab-nav{
  font-family: "Cascadia Code", "Noto Sans SC";
}