// you can change colors here
$vp-font: 'Torus, "Noto Sans SC", sans-serif';
$vp-font-heading: 'Torus, "Noto Sans SC", sans-serif';
$vp-font-mono: 'Cascadia Code, "Noto Sans SC" ,Consolas, "Courier New", monospace'